#USE FOR DarkChess INITIAL SETTING
#Tue Oct 29 02:31:05 CST 2024
Account=R12922167
BoardMode=SYSTEM_Cycle
BoardPath=
BoardSize=5
ColorChangeMode=FIXED
ConnectMode=AI
DebugMode=false
FirstChangeMode=FIXED
IP=120.126.151.213
InitColor=RANDOM
InitFirst=RED
LocalServer=false
MidBoard=NO
OnePlyTime=0
Password=R12922167
PiecesNum=6
Players=2
PlyShare=0
RandomMode=System
RandomText=
RepeatTime=100
RoomType=GENERAL
SearchPath=/Users/destiny/Desktop/TCG_2023/final/my_code/agent
StartMode=ENTER
TimeLimit=60
TimerMode=ABSOLUTE
