#USE FOR ROOM INITIAL SETTING
#Tue Oct 29 02:31:05 CST 2024
BoardDisconnectAutoRestart=NO
BoardFileOutput=YES
BoardOpenType=CLOSE
CleanLastDebug=NO
CommandLogOutput=YES
ContestAutoReady=YES
DebugBGColor=-16777216
DebugFontColor=-1
DebugFontSize=16
FinishGameCloseHTML=YES
PopWindowHeight=673
PopWindowLocaleX=239
PopWindowLocaleY=250
PopWindowWidth=1174
RepeatGameDelay=5
RoomStatisticOutput=YES
ScrollAuto=AUTO
SplitWeight=0.65
TimeCountDown=YES
