#USE FOR DarkChess INITIAL SETTING
#Fri Jan 05 14:39:26 CST 2024
Account=R12922167
BoardMode=SYSTEM_Cycle
BoardPath=
BoardSize=5
ColorChangeMode=FIXED
ConnectMode=AI
DebugMode=false
FirstChangeMode=CYCLE
IP=120.126.151.213
InitColor=RED
InitFirst=RED
LocalServer=true
MidBoard=NO
OnePlyTime=0
Password=R12922167
PiecesNum=6
Players=2
PlyShare=0
RandomMode=System
RandomText=
RepeatTime=50
RoomType=GENERAL
SearchPath=/Users/destiny/Desktop/TCG_2023/final/my_code/agent
StartMode=OPEN
TimeLimit=60
TimerMode=ABSOLUTE
